@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'El Messiri', sans-serif;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --main-color: #1d96a1;
  --color-one: #4ec7a4;
  --color-two: #00b1a9;
  --color-three: #2ea7a2;
  --dark-color: #2C3333;
  --light-color: #FFFFFF;

}