@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'El Messiri', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --main-color: #6e4498;
  --color-one: #a65687;
  --color-two: #d16fac;
  --color-three: #f366d9;
  --dark-color: #222;
  --light-color: #fcfcfc;

}