.ServiceForm {
    margin: 5%;
    padding: 3%;
    border: 1px solid;
    border-radius: 10px;
    margin: auto;

}

.GroubServices {
    margin: 5%;
    padding: 3%;
    border: 1px solid;
    border-radius: 10px;
    margin: auto;
}

.card {
    box-shadow: 100px;
}